*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar { 
    display: none; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(#362414, #4D341C, #362414);
  color: #FBFAF7;
  font-size: 1.5em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  background: linear-gradient(#362414, #4D341C, #362414);
  color: #F9F9F9;
  font-size: 1.5em;
}

.home {
  height: 100vh;
  width: 100vw;
  background-color: #F4EBE5;
  border: 2px solid #160B01;
}

.home-button-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5% 0;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 20%;
  font-size: 1.4em;
  background: linear-gradient(#F9F9F9, grey);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #3D3D3D;
}

.home-button:focus {
  outline: none;
}

.send {
  height: 100vh;
  width: 100vw;
  background-color: #F4EBE5;
  border: 2px solid #160B01;
}

.send-container {
  height: 80%;
  width: 100%;
}

.send-forms {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.text-input {
  background-color: #FBFAF7;
  border: 2px solid #160B01;
  border-radius: 10px;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  color: #3D3D3D;
}

.recipient-valid-check {
  width: 18px;
  height: 18px;
  float: right;
}

.text-input input, .text-input textarea {
  background-color: #FBFAF7;
  border: none;
  color: #3D3D3D;
}

.text-input input:focus, .text-input textarea:focus {
  outline: none;
}

.text-input:nth-child(3) {
  height: 35%;
  align-items: flex-start;
  padding-top: 2%;
}

.text-input:nth-child(3) textarea {
  width: 180%;
  margin-top: 2%;
  resize: none;
}

.send-pmt-type {
  height: 45%;
  width: 100%;
  padding: 0 5%;
  color: #3D3D3D;
}

.send-pmt-type > p {
  margin-bottom: 5%;
}

.send-pmt-type > div:nth-child(-n+3) {
  height: 23%;
  background-color: #FBFAF7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  font-size: 1em;
}

.send-pmt-type div:nth-child(2) {
  border: 2px solid #160B01;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #160B01;
}

.send-pmt-type div:nth-child(3) {
  border: 2px solid #160B01;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #160B01;
}

.send-pmt-type-checkmark {
  float: right;
}

.send-pmt-type-active {
  color: #CF905C;
}

.send-error {
  background: #F4EBE5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  font-size: 0.8em;
  color: #FF0033;
  margin-top: 3%;
  font-size: 1em;
}

.send-footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 70%;
  font-size: 0.8em;
  background: linear-gradient(white, grey);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: #3D3D3D;
}

.send-footer-button:focus {
  outline: none;
}

.loading {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading > img {
  width: 20%;
}

.send-success {
  height: 100vh;
  width: 100vw;
  background-color: #F4EBE5;
  border: 2px solid #160B01;
}

.send-success-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #3D3D3D;
  padding: 20% 5%;
}

.send-success-container > p {
  font-size: 1em;
  text-align: center;
  margin: 10% 0;
}

.send-success-checkmark {
  font-size: 5em;
  color: #CF905C;
}

.send-success-footer-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 35%;
  padding: 0 2%;
  height: 70%;
  font-size: 0.8em;
  background: linear-gradient(white, grey);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: #3D3D3D;
}

.send-success-footer-button:focus {
  outline: none;
}

.trans-history {
  height: 100vh;
  width: 100vw;
  background-color: #F4EBE5;
  border: 2px solid #160B01;
}

.trans-list {
  height: 80%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  
}

.trans-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7%;
  color: #3D3D3D;
}

.trans-list-item:nth-child(even) {
  background-color: #EAD9CC;
}

.trans-list-item:nth-child(odd) {
  background-color: #E4D5C4;
}


.trans-history-footer-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 0 2%;
  height: 70%;
  font-size: 0.8em;
  background: linear-gradient(white, grey);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: #3D3D3D;
}
